@font-face {
  font-family: Circe-Extra-Light;
  src: url(../fonts/CRC25.otf);
}

@font-face {
  font-family: Circe-Light;
  src: url(../fonts/CRC35.otf);
}

@font-face {
  font-family: Warnock-pro;
  src: url(../fonts/fontscore.com_w-warnock-pro-bold-display.otf);
}

body {
  margin: 0;
  overflow: hidden; 
}

navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.nav-background {
  width: 100%;
  height: 10vh;
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/buro247/blancpain/blancpain-menu-1920-x-150px.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.nav-logo {
  height: 50%;
  width: flex;
}

.nav-logo > img {
  height: 100%;
  margin-top: 2.5vh;
}

.nav-logo > img:first-child {
  margin-right: 1%;
}

.nav-logo >img:last-child {
  margin-left: 1%;
}

.main-body {
  width: 100%;
  height: 100%;
}

.main-default {
  position: relative;
  margin-top: 10vh;
  /* display: none; */
}

.main-default > img {
  height: 100%;
  width: 100%;
}

.default-1, .default-2, .default-3, .default-4, .default-5, .default-6 {
	cursor: pointer;
}

.default-1 {
	z-index: 1;
    width: 25.1%;
    height: 40.25vw;
    position: absolute;
    top: 3.1%;
    right: 38.75%;
}

.default-1 > img {
  width: 100%;
  height: 100%;
}

.default-2 {
	z-index: 1;
    width: 4.5%;
    height: 6.2vw;
    position: absolute;
    top: 50.54%;
    right: 52.19%;
}

.default-2 > img {
  width: 100%;
  height: 100%;
}

.default-3 {
	z-index: 1;
    width: 10%;
    height: 7.5vw;
    position: absolute;
    top: 31.7%;
    right: 13.73%;
}

.default-3 > img {
  width: 100%;
  height: 100%;
}

.default-4 {
	z-index: 1;
    width: 21%;
    height: 7.00vw;
    position: absolute;
    top: 83.6%;
    right: 8.7%;
}

.default-4 > a > img {
  width: 100%;
  height: 100%;
}

.default-5 {
	z-index: 1;
    width: 28.53%;
    height: 15.30vw;
    position: absolute;
    top: 65.7%;
    left: 0%;
}

.default-5 > a > img {
  width: 100%;
  height: 100%;
}

.default-6 {
    z-index: 1;
    width: 8.74%;
    height: 9vw;
    position: absolute;
    top: 5.8%;
    left: 6.68%;
}

.default-6 > img {
  width: 100%;
  height: 100%;
}

img {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
img.bw {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}



/* mouseover-1 */

.mouseover-1 {
  position: relative;
  margin-top: 10vh;
  display: none;
}

.mouseover-1 > img {
  height: 70vw;
  width: 100%;
}

/* Click point 1 */

.click-1 {
  position: relative;
  margin-top: 10vh;
  display: none;
}

.click-2 {
  position: relative;
  margin-top: 10vh;
  display: none;
}

.click-3 {
  position: relative;
  margin-top: 10vh;
  display: none;
}

.click-6 {
  position: absolute;
  top: 0;
  /* margin-top: 10vh; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 70vw;
  width: 100%;
  z-index: 99;
  display: none;
}

.click-6 iframe {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.click-container {
  margin-top: 13vh;
}

.home-button {
  display: inline-block;
  font-family: Circe-Extra-Light;
  cursor: pointer;
  margin-bottom: 2em;
}

.home-arrow {
  margin-left: 2vw;
  font-weight: bold;
}

.home-arrow:before {
	content: '\2190';
}

.headline-2 {
  display: inline-block;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-family: Circe-Extra-Light;
}

.click-header {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family: Circe-Light;
}

.click-standfirst {
  text-align: center;
  font-size: 1.5em;
  font-family: Circe-Extra-Light;
  max-width: 70rem;
  margin: 0 auto;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.click-article {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-family: Circe-Extra-Light;
}

.click-article-3 {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-family: Circe-Extra-Light;
}

.article-image-1 {
  width: 39%;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  float: left;
}

.article-image-2 {
  width: 39%;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  float: left;
}

.article-image-3 {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.article-image-3-2 {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.article-image > img {
  width: 100%;
}

.article-image-3-2 >img {
  width: 40%;
}

.article-text {
	width: 58%;
	/* height: 64vh; */
	display: inline-block;
	padding-left: 1em;
	float: right;
	/* overflow: scroll; */
	vertical-align: top;
}

.article-text p:last-child {
	margin-bottom: 3em;
}

.article-text-3 {
  width: 100%;
  display: inline-block;
}

.article-text-3 p:first-child:first-letter {
	float: left;
	margin-bottom: .3rem;
	padding-right: 1.5rem;
	padding-left: .75rem;
	font-weight: 700;
	font-size: 3.0rem;
	line-height: 1.2em;
}

#article-quote {
  font-family: Warnock-pro;
  font-size: 1.8em;
}

.close-video {
  color: white;
  position: absolute;
  left: 79.8vw;
  top: 5vw;
  font-size: 2em;
}

.mobile-portrait {
  display: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .main-body {
    display: none;
  }

  navbar {
    display: none;
  }

  .mobile-portrait {
    display: block;
    height: 100vh;
    width: 100vw;
  }

  .mobile-portrait > img {
    height: 100%;
    width: 100%;
  }

}

@media (max-width: 1023px) {
	.click-article {
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
	}
	.article-image {
		width: 100%;
	}
	.article-text-1 {
		padding-left: 0;
		width: 100%;
	}
	.article-text-2 {
		padding-left: 0;
		width: 100%;
	}
}
